*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;    
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul, ol {
   margin: 0;
   padding: 0;
   list-style: none;
}


.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   white-space: nowrap;
   border: 0;
}

.portfolio-item img {
    width: 100%;
    display: block;
}

.section {
    padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-section {
  background-color: #2E2F42;
}

.team-section {
  background-color: #F4F4FD;
}

.portfoilio-section {
  padding: 80px 0;
  background-color: #f4f4fd;
}


.page-header {
    border-bottom: 1px solid #E7E9FC;  
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-footer {
    background-color: #2E2F42;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
}

.page-logo .logo-web {
    color: #4D5AE5;

}

.page-logo .logo-studio {
    color: #2E2F42;
}

.main-nav {
  display: flex;
  gap: 76px;
}

.nav-list {
    display: flex;
    align-items: center;
    color: #2E2F42;
    font-weight: 500;
    gap: 40px;
}

.nav-list a {
    color: inherit;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404BBF;
}

.contact-list {
    color: #434455;
    display: flex;
    gap: 40px;
}

.contact-list a {
    color: inherit;
}

.contact-list a:hover,
.contact-list a:focus {
    color: #404BBF;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 48px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    max-width: 496px; 
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    display: block;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.features-title {
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
}

.features-list {
    display: flex;
    gap: 24px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.team-member-name {
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-member-position {
    line-height: 1.5;
    color: #434455;
    text-align: center;
    padding-bottom: 32px;
}

.portfolio-item {
    border-top: none;
    border-bottom: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
}

.team-title,
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    font-weight: 700;
    padding-bottom: 72px;
}

.portfolio-list {   
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

.portfolio-project-title {
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.portfolio-project-type {
    line-height: 1.5;
    color: #434455;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 32px;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 700;
    padding: 0;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
}

.footer-logo .footer-logo-web {
    color: #4D5AE5;
}

.footer-logo .footer-logo-studio {
    color: #F4F4FD;
}